*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.conteiner1{
    display: grid;
    background-color:white;
    height: 160vh;
    width: 100%;
    grid-template-columns:none;
    grid-template-rows:45vh 100vh 25vh; 

    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}
header{
    background-color: #B4F6FF;
    grid-area: header;
}
main{
    background-color: #ffffff;
    grid-area: main;
}
footer{
    background-color: #B5F8C3;
    grid-area: footer;
}
.verde1{
    background-color: #B5F8C3;
    grid-area: verde1;
}
.verde2{
    background-color: #B5F8C3;
    grid-area: verde2;
}