*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner1{
    display: grid;
    background-color:white;
    height: 160vh;
    width: 100%;
    grid-template-columns:none;
    grid-template-rows:45vh 100vh 25vh; 

    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}
.conteiner2{
    display: grid;
    background-color:white;
    height: 100%;
    width: 100%;
    grid-template-columns:35fr 35fr;
    grid-template-rows:80vh 80vh; 
    gap: 30px;
    padding: 40px;
    grid-template-areas: 
                        "verde1 verde2"
                        ;
}
header{
    background-color: #B4F6FF;
    grid-area: header;

}
.logo{
    display: flex;
    margin: auto;
    margin-top: 10vh;
}
main{
    background-color: #ffffff;
    grid-area: main;
}
footer{
    background-color: #B5F8C3;
    grid-area: footer;
}
.verde1{
    background-color: #B5F8C3;
    grid-area: verde1;
    border-radius: 20px;
}
.verde2{
    background-color: #B5F8C3;
    grid-area: verde2;
    border-radius: 20px;
}
