*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.opcoes{
    padding: 20px;
}
.opcoes a{
    text-decoration: none;
    color:hsl(0, 0%, 0%);
    
    
}
.filho{
    background-color: #B5F8C3;  
    padding: 15px;
    border-radius: 15px;
    border-width: 3px;
    border-color: #686464 ;
    border-style: solid;
    width: 229px;
    text-align: center;
    box-shadow: -3px 5px   rgba(0, 0, 0, 0.2);
}
.opcoes li{
    display: inline;
    font-size: 20px;
    margin-left: 5px;
}
.container{
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.filho{
    margin: 15px;
}




.conteiner1{
    display: grid;
    background-color:white;
    height: 170vh;
    width: 100%;
    grid-template-columns:none;
    grid-template-rows:55vh 100vh 25vh; 

    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}
.conteiner2{
    display: grid;
    background-color:white;
    height: 100%;
    width: 100%;
    grid-template-columns:35fr 35fr;
    grid-template-rows:80vh 80vh; 
    gap: 30px;
    padding: 40px;
    grid-template-areas: 
                        "verde1 verde2"
                        ;
}
header{
    background-color: #B4F6FF;
    grid-area: header;

}
.logo{
    display: flex;
    margin: auto;
    margin-top: 10vh;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
    padding-top: 20px;
}
.p2{
    margin: auto;
    width: 1000px;
    padding: 30px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
}
.p{
    margin:auto;
    width: 700px;
}
main{
    background-color: #ffffff;
    grid-area: main;
}
footer{
    background-color: #B5F8C3;
    grid-area: footer;
}
.verde1{
    background-color: #B5F8C3;
    grid-area: verde1;
    border-radius: 20px;
}
.verde2{
    background-color: #B5F8C3;
    grid-area: verde2;
    border-radius: 20px;
}
